node_modules
.env.DS_Store
.atom/
.bash_history
.bash_profile
.bashrc
.bundle/
.config/
.dbshell
.gem/
.gitconfig
.lesshst
.local/
.mkshrc
.mongorc.js
.mono/
.npm/
.profile
.rbenv/
.rvm/
.ssh/
.subversion/
.viminfo
.vscode/
.yarnrc
.zlogin
.zsh_history
.zshrc
Applications/
CS/.DS_Store
CS/coins-table/
CS/fruits-react-rails-app/
CS/login-react-redux-hooks-app/
CS/shopping-app/
CS/sqpaymentform-nodejs/
CS/square-react-native-payments/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
shopping-app/
