@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateX(180deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(360deg);
  }
}

.flip {
  transform-style: preserve-3d;
  animation: flip 1.5s linear;
}

.fadeIn {
  animation: fadeIn 0.75s ease-in;
}